DB_DSN=postgres://postgres:postgres@localhost:5434/codetest?sslmode=disable
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ISSUER=codetest
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=30
HTTP_ADDR=:8080

MINIO_ENDPOINT=localhost:9001
MINIO_PUBLIC_ENDPOINT=localhost:9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=codetest-tests
MINIO_AVATAR_BUCKET=codetest-avatars
MINIO_USE_SSL=false

REDIS_ADDR=localhost:6380
